
/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
    background-color: #5e2129;
    color:#ffffff;
    border-color: #682444;
    
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-primary);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--bs-secondary) !important;
}

/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
   
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
   
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}
.login{

    color:#5e2129;
    margin-top: 0px;
    margin-bottom: 15px;

  
  }
  .button-login{ 
    height: 10;
    font-size: 10px;
    background-color:#682444;
    color:aliceblue;
    border-radius:5px;
   
  }
.icon-list{
float: right;
}
.Icon-Event{
    width: fit-content;
}


@media (max-width: 576px) { /*media queries for small desktop*/
    .topbar { /*header of the webpage*/
        display: none;    
    }
}
/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-right: 20px;
    margin-left: 32px;
    padding: 35px 0;
    color: var(--bs-white) !important;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: .5s;
    
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-white) !important;
}

.navbar-light .navbar-brand img {
    max-height: 50px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 28px;
}
.btn-btn-outline-success{

    border-radius: 19px;
    border-color: #5e2129;
    }
/* Estilos para la lista de imágenes en orden vertical */
/* Estilos para la lista vertical con iconos */
.icon-list {
    list-style: none; /* Quita los puntos predeterminados de la lista */
    padding-left: 0; /* Elimina el relleno izquierdo predeterminado */
    position:relative; /* Posiciona la lista */
    top: 0; /* Ajusta la posición desde arriba */
    right: 0px; /* Ajusta la posición desde la derecha */
    text-align: right; /* Centra horizontalmente los iconos */
    margin-top:auto; /* Ajusta la distancia desde arriba */
    color:#682444;
    font-size: 15px;
    border-color:white;
    margin-left: -20px;
    float: right;
 
}


.icon-list li {
    margin-bottom: 50px; /* Ajusta el espacio entre cada ícono */
}

.icon-list li i {
    font-size: 40px; /* Define el tamaño del ícono */
    font-weight: bold;

    font-style:initial;
}
  /* Estilos adicionales personalizados */
 
 
@media (min-width: 1200px) { /* dropdown menu bar, in  larger desktop*/
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}
/*Publication section start*/
.titulo2
{
   color: #ffffff;
   background-color: #682444;
   padding: 15px;
   text-align: center;

}

/*publication section end*/
.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}
.home-icon{
    background-color: white;
    color:#5e2129;
    border-radius: 19px;  
  }
.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {/*nav bar queries for desktop*/
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {/*nav bar for desktop mediaqueries*/
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}
/*** Carousel Hero Header Start ***/
.header-carousel {
    position: relative; 
}

.header-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

@media (max-width: 576px) {  /*carrousel media queries in mobile*/
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        top: 630px;
        transition: 0.5s;
    }

    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
        width: 90% !important;
    }
 
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 95px;
    display: block;
    object-fit: cover;
    transition: 0.5s;

}

@media (max-width: 992px) { /*carrousel media queries for desktop*/
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        margin-top: 0;
        transition: 0.5s;
    }

}

@media (min-width: 992px) { /*carousel media queries for desktop*/
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin-top: 50px;
    }
}

.header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

.header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;
    
}
/*** Carousel Hero Header End ***/



/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 60px 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-white) !important;
}
/*** Single Page Hero Header End ***/

/*** Team Start ***/
.team .team-item .team-img {
    position: relative;
    overflow: hidden;
}

.team .team-item .team-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
}
.sub-title{
    color:#682444;
}
.names,.mb-0{
    color:#682444;
}

.team .team-item .team-img .team-icon {
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
   
}

.team .team-item .team-img:hover .team-icon {
    margin-bottom: 145px;
}

.team .team-item:hover .team-img::before {
    background:#5e2129;
    color: #5e2129;
}


.team .team-item .team-content {
    color: var(--bs-primary);
    transition: 0.5s;
}

.team .team-item .team-content h5 {
    color: var(--bs-secondary);
    transition: 0.5s;
}

.team .team-item:hover .team-content h5 {
    color: var(--bs-dark);
}

.team .team-item:hover .team-content {
    background: var(--bs-primary);
    color: var(--bs-white);
   
}
/*** Team End ***/





/*** Footer Start ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(VR.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}
.footer .footer-item a {
    line-height: 15px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 2px;
    color: var(--bs-light);
}

/*** Footer End ***/
/*National Linkage start*/
.topic{
    font-style: italic;
    float: center;
    background-color: #682444;
    color:#ffffff;
     padding: 10px;
}
.t1{
    margin-left: 20px;
    color: #5e2129;
}
.columna2{
    float:right;
}

/** end National Linkage**/

/*Loind End*/
/*** copyright Start ***/

/*** copyright end ***/
/*news titule*/
.Ntitule{
margin-top:20px;
}
.titule{
  margin-top:48px ;
  color:#5e2129;
  font-family: 'Times New Roman', Times, serif;

}
.descripcion{
    justify-content: center;
}
/*index news and events section*/
.titulo,.date{
    font-size:medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
.descripcion{
justify-content: flex-start;
}
.lista{
    color: #5e2129;
    border-style: none;
    border-bottom: none;
}
/*events show events section*/
/*events show news section*/
.card-header.card-body{
    text-align: justify;
}



